.container {
    background-color: var(--whiteColor);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.drpHeader {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 0.875rem;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.okButton {
    background-color: white;
    color: #00a2c7;
    border: 2px solid #00a2c7;
    padding: 8px 18px; /* Adjusted padding to account for border */
    border-radius: 5px;
    cursor: pointer;
}

.cancelButton {
    background-color: white;
    color: #00a2c7;
    border: 2px solid #00a2c7;
    padding: 8px 18px; /* Adjusted padding to account for border */
    border-radius: 5px;
    cursor: pointer;
}
