.mainContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.selectContainer {
    background: white;
    border: 1px solid #ccc;
    border-bottom: 0px;
    border-top: 0px;
    padding: 10px;
    padding-top: 0px;
    max-height: 330px;
    overflow-y: auto;
    width: 100%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.searchInput {
    max-width: 600px;
    min-height: 40px;
    padding: 0.3rem;
    background-color: #fff;
    border: 1px solid #ccc;
    color: var(--textColor);
    outline: none;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    color: var(--textColor);
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.okButton {
    background-color: white;
    color: #00a2c7;
    border: 2px solid #00a2c7;
    padding: 8px 18px; /* Adjusted padding to account for border */
    border-radius: 5px;
    cursor: pointer;
}
